body {
  background-color: yellow;
}

h1 {
  text-align: center;
  margin-top: 100px
} 

h2 {
  margin-top: 100px
}

.create-form {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addburger {
  text-align: center
}